  * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
} *

.container {
    font-size: 70px;
    color: white;
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 400px;
}

.buttons {
    width: 100px;
    height: 100px;
    background-color: #4CAF50;
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-output {
    width: 300px;
    background-color: #f6fa04;
}